  <section class="semantic-content" id="eventbrite-modal-{{ post.eventbrite }}" tabindex="-1"
          role="dialog" aria-labelledby="modal-label-{{ post.eventbrite }}" aria-hidden="true">
    <div class="modal-inner">
      <header id="modal-label-{{ post.eventbrite }}"><h3>Register For {{ post.title }}</h3></header>
      <div class="modal-content">
        <iframe src="https://www.eiseverywhere.com/ereg/newreg.php?eventid=88102&external=1&height=400" frameborder="0" height="400" width="650" vspace="0" hspace="0" scrolling="auto" allowtransparency="true"></iframe>
        </div>
      </div>
    </div>
    <a href="#" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" style="color:#ff4000;">×</a>
  </section>