<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie ie8" lang="en"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>

  <title>Diversity Woman || 2015 Conference</title>

  <!-- // Site Info
  ====================================

  Version:  {{ site.version }}

  Launch:   {{ site.launch }}
  Updated:  {{ site.time | date_to_string }}

  Author:   {{ site.seo.author }}

  Notes:    Handcrafted by Bivee LLC
            http://www.bivee.co

  Masthead Photo Credit: Bruce Harlick 

  ====================================
  // -->

  <!-- Primary Metadata  -->
  <meta charset="utf-8">
  <meta name="description" content="{% if page.description == null %}{{ site.seo.description }}{% else %}{{ page.description }}{% endif %}"/>
  <meta name="keywords" content="{{ site.seo.tags }}, {{ page.tags }}"/>
  <meta name="author" content="{% if post %}{{ post.author }}{% else %}{{ site.seo.author }}{% endif %}"/>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name="google-site-verification" content="{{ site.google.verification }}"/>

  <!-- Social Metadata  -->
  <meta property="fb:admins" content="{{ site.facebook.admins }}"/>
  <meta property="fb:app_id" content="{{ site.facebook.api }}"/>
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:description" content="{% if page.description == null %}{{ site.seo.description }}{% else %}{{ page.description }}{% endif %}"/>
  <meta property="og:image" content="{{ site.assets.img }}og-image.jpg"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>

  <!-- Robots & Favicons  -->
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="index, follow"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- CSS and Fonts  -->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" media="screen" href="{{ site.assets.css }}style.css" />
  <link rel="stylesheet" media="screen" href="{{ site.assets.css }}modal.css" />

  <!-- JS -->
  {% include scripts.html %}

</head>
<body onload="initialize()">

  {% include ie_fix.html %}
