  <div id="top"></div>
  <div id="container">
    <nav id="main">
      <article>
        <div class="columns large-12">
          <div id="showmenu">Menu</div>
          <a href="#top" id="mobiletop">Top</a>
          <a href="{{ site.url }}/" id="top-logo"><img src="{{ site.assets.img }}logo2.png" alt="Diversity Woman" /></a>
          <ul id="menu">
            <li class="desktop"><a href="/">Home</a></li>
            <li><a href="/#speakers" class="scrollto">Speakers</a></li>
            <li><a href="/#schedule" class="scrollto">Schedule</a></li>            
            <li><a href="/#venue" class="scrollto">Venue &amp; Hotel</a></li>
            <li><a href="http://www.diversitywoman.com/conference-hotels" target="_blank" >Hotel Reservations</a></li>
            <li><a href="http://www.diversitywoman.com/conference-registration" target="_blank" >Conference Registration</a></li>
            <li><a href="/#sponsors" class="scrollto">Sponsors</a></li>
            <li>Share:   <a href="https://twitter.com/home?status=Check%20out%20the%20Diversity%20Woman%20Conference%202015%20in%20Orlando%20Florida%20%40DiversityWoman" target="_blank"> <i class="icon-twitter"></i></a><a href="https://www.facebook.com/sharer/sharer.php?u=conference2015.diversitywoman.com" target="_blank">  <i class="icon-facebook" style="vertical-align:baseline;"></i></a><a href="https://www.linkedin.com/shareArticle?mini=true&url=http://conference2015.diversitywoman.com&title=Diversity%2Woman%20Conference%202015&summary=Check%20out%20the%20Diversity%20Woman%202015%20Conference%20in%20Orlando!" target="_blank">  <i class="icon-linkedin " style="vertical-align:baseline;"></i></a></li>            
          </ul>
        </div>
      </article>
    </nav>

    