  <div id="top"></div>
  <div id="container">
    <nav id="main">
      <article>
        <div class="columns large-12">
          <div id="showmenu">Menu</div>
          <a href="#top" id="mobiletop">Top</a>
          <a href="{{ site.url }}/" id="top-logo"><img src="{{ site.assets.img }}logo2.png" alt="Diversity Woman" /></a>
          <ul id="menu">
            <li class="desktop"><a href="/">Home</a></li>
            <li><a href="/#speakers" class="scrollto">Speakers</a></li>
            <li><a href="/#schedule" class="scrollto">Schedule</a></li>            
            <li><a href="/#venue" class="scrollto">Venue &amp; Hotel</a></li>
            <li><a href="http://www.diversitywoman.com/conference-hotels" target="_blank" >Hotel Reservations</a></li>
            <li><a href="http://www.diversitywoman.com/conference-registration" target="_blank" >Conference Registration</a></li>
            <li><a href="/#sponsors" class="scrollto">Sponsors</a></li>
            <li>Share:   <a href="http://twitter.com/diversitywoman" target="_blank"> <i class="icon-twitter"></i></a><a href="https://www.facebook.com/DiversityWomanMagazine" target="_blank">  <i class="icon-facebook" style="vertical-align:baseline;"></i></a></li>            
          </ul>
        </div>
      </article>
    </nav>