    <section id="schedule">

    {% assign sorted_entertainment = site.categories.entertainment|sort:"title" %}

      <article>
        <div class="columns large-12">
          {% if site.categories.entertainment %}
          <h2>DIVERSITY LEADERSHIP RECEPTION ENTERTAINMENT</h2>
          {% for post in sorted_entertainment %}
            <div class="speaker">
              <div class="front">
                <div class="imagecontainer"><img src="{{ site.assets.speaker }}{{ post.image }}"  alt="{{ post.name }}, {{ post.position }}"  /></div>
                <h3>{{ post.name }}</h3>
                <h4>{{ post.position }}</h4>
              </div>
              <div class="back">
                <div class="linkgroup">
                  <nav class="pills">
                    <a href="{{ post.url }}" target="_self" title="Read More" class="entertainment_person">Read More</a>
                  </nav>
               </div>
              </div>
            </div>
          {% endfor %}
          {% endif %}
          
          <br /><br /><br />
          <h2>The Schedule</h2>
          <nav class="pills">
            <a href="assets/pdfs/Agenda.pdf" target="_blank" class="entertainment_person"><i class="icon-file-pdf"></i> As a PDF</a>
          </nav>
          <!-- <img src="/assets/images/2014-conference-program.png" style="max-width: 400px; border: 1px solid #cfcfcf;" /> -->
          <nav class="pills">
            <a href="#day0" id="trig-day0">Oct 14 - Pre-Conference</a>
            <a href="#day1" id="trig-day1">Oct 15</a>
            <a href="#day2" id="trig-day2">Oct 16</a>
            <!-- <a href="#coaching" class="trig-coaching">Coaching</a> -->
          </nav>
          {% if site.categories.day0 %}<ul id="day0" class="planner">{% for post in site.categories.day0 reversed %}
            <li>
              <span class="time">{{ post.hour | upcase }}</span>
              <span class="talk">
                <span class="session {% if post.child %} child {% endif %}">{% if post.child %} <i class="icon-chevron-sign-right"></i> {% endif %}{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}{% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">
                  {{ post.content | markdownify }}
                  {% if post.speakers %}
                    <ul>
                    {% for event_speakers in post.speakers %}
                      {% for event_speaker in event_speakers.speaker %}                    
                        {% for speaker in site.categories.speakers %}
                          {% if speaker.name == event_speaker.name %}
                            <li><strong>{{event_speaker.title}} - </strong><a href="{{ speaker.url }}">{{speaker.name}}: {{speaker.position}}</a></li>
                          {% endif %}
                        {% endfor %} 
                      {% endfor %} 
                    {% endfor %} 
                    </ul>
                  {% endif %}
                </span>
                {% endif %}{% if post.eventbrite %}
                <span class="eventbrite-sub">
                  <a href="#eventbrite-modal-{{ post.eventbrite }}" class="registerbutton call-modal">Register</a>
                </span>{% endif %}
              </span>
            </li>{% endfor %}
          </ul>
          {% endif %}{% if site.categories.day1 %}
          <ul id="day1" class="planner">{% for post in site.categories.day1 reversed %}
            <li>
              <span class="time">{{ post.hour | upcase }}</span>
              <span class="talk">
                <span class="session {% if post.child %} child {% endif %}">{% if post.child %} <i class="icon-chevron-sign-right"></i> {% endif %}{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}{% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">
                  {{ post.content | markdownify }}
                  {% if post.speakers %}
                    <ul>
                    {% for event_speakers in post.speakers %}
                      {% for event_speaker in event_speakers.speaker %}                    
                        {% for speaker in site.categories.speakers %}
                          {% if speaker.name == event_speaker.name %}
                            <li><strong>{{event_speaker.title}} - </strong><a href="{{ speaker.url }}">{{speaker.name}}: {{speaker.position}}</a></li>
                          {% endif %}
                        {% endfor %} 
                      {% endfor %} 
                    {% endfor %} 
                    {% for event_speakers in post.speakers %}
                      {% for event_speaker in event_speakers.speaker %}                    
                        {% for speaker in site.categories.mosaic_honor %}
                          {% if speaker.name == event_speaker.name %}
                            <li><strong>{{event_speaker.title}} - </strong><a href="{{ speaker.url }}">{{speaker.name}}: {{speaker.position}}</a></li>
                          {% endif %}
                        {% endfor %} 
                      {% endfor %} 
                    {% endfor %} 
                    </ul>
                  {% endif %}
                </span>
                {% endif %}{% if post.eventbrite %}
                <span class="eventbrite-sub">
                  <a href="#eventbrite-modal-{{ post.eventbrite }}" class="registerbutton call-modal">Register</a>
                </span>{% endif %}
              </span>
            </li>{% endfor %}
          </ul>
          {% endif %}{% if site.categories.day2 %}
          <ul id="day2" class="planner">{% for post in site.categories.day2 reversed %}
            <li>
              <span class="time">{{ post.hour | upcase }}</span>
              <span class="talk">
                <span class="session {% if post.child %} child {% endif %}">{% if post.child %} <i class="icon-chevron-sign-right"></i> {% endif %}{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}{% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">
                  {{ post.content | markdownify }}
                  {% if post.speakers %}
                    <ul>
                    {% for event_speakers in post.speakers %}
                      {% for event_speaker in event_speakers.speaker %}                    
                        {% for speaker in site.categories.speakers %}
                          {% if speaker.name == event_speaker.name %}
                            <li><strong>{{event_speaker.title}} - </strong><a href="{{ speaker.url }}">{{speaker.name}}: {{speaker.position}}</a></li>
                          {% endif %}
                        {% endfor %} 
                      {% endfor %} 
                    {% endfor %} 
                    </ul>
                  {% endif %}
                </span>
                {% endif %}{% if post.eventbrite %}
                <span class="eventbrite-sub">
                  <a href="#eventbrite-modal-{{ post.eventbrite }}" class="registerbutton call-modal">Register</a>
                </span>{% endif %}
              </span>
            </li>{% endfor %}
          </ul>
          {% endif %}{% if site.categories.coaching %}
          <ul id="coaching" class="planner">
            {% for post in site.categories.coaching reversed %}
            <li>
              <span class="time">{{ post.hour | upcase }}</span>
              <span class="talk">
                <span class="session {% if post.child %} child {% endif %}">{% if post.child %} <i class="icon-chevron-sign-right"></i> {% endif %}{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}{% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">
                  {{ post.content | markdownify }}
                </span>
                {% endif %}{% if post.eventbrite %}
                <span class="eventbrite-sub">
                  <a href="#eventbrite-modal-{{ post.eventbrite }}" class="registerbutton call-modal">Register</a>
                </span>{% endif %}
              </span>
            </li>{% endfor %}
          </ul>{% endif %}
        </div>
      </article>
    </section>