    <section id="schedule">
      <article>
        <div class="columns large-12">
          <h2>The Schedule</h2>
          <p><a href="/assets/pdfs/2014.Program_09.22.14_lowrez-1.pdf" target="_blank">Click Here</a> to view the 2014 Diversity Woman Conference Schedule</p>
          <!-- <img src="/assets/images/2014-conference-program.png" style="max-width: 400px; border: 1px solid #cfcfcf;" /> -->
          <nav class="pills">
            <a href="#day0" id="trig-day0">Oct 14 - Pre-Conference</a>
            <a href="#day1" id="trig-day1">Oct 15</a>
            <a href="#day2" id="trig-day2">Oct 16</a>
            <!-- <a href="#coaching" class="trig-coaching">Coaching</a> -->
          </nav>
          {% if site.categories.day0 %}<ul id="day0" class="planner">{% for post in site.categories.day0 reversed %}
            <li>
              <span class="time">{{ post.hour | upcase }}</span>
              <span class="talk">
                <span class="session {% if post.child %} child {% endif %}">{% if post.child %} <i class="icon-chevron-sign-right"></i> {% endif %}{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}{% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">
                  {{ post.content | markdownify }}
                </span>
                {% endif %}{% if post.eventbrite %}
                <span class="eventbrite-sub">
                  <a href="#eventbrite-modal-{{ post.eventbrite }}" class="registerbutton call-modal">Register</a>
                </span>{% endif %}
              </span>
            </li>{% endfor %}
          </ul>
          {% endif %}{% if site.categories.day1 %}
          <ul id="day1" class="planner">{% for post in site.categories.day1 reversed %}
            <li>
              <span class="time">{{ post.hour | upcase }}</span>
              <span class="talk">
                <span class="session {% if post.child %} child {% endif %}">{% if post.child %} <i class="icon-chevron-sign-right"></i> {% endif %}{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}{% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">
                  {{ post.content | markdownify }}
                </span>
                {% endif %}{% if post.eventbrite %}
                <span class="eventbrite-sub">
                  <a href="#eventbrite-modal-{{ post.eventbrite }}" class="registerbutton call-modal">Register</a>
                </span>{% endif %}
              </span>
            </li>{% endfor %}
          </ul>
          {% endif %}{% if site.categories.day2 %}
          <ul id="day2" class="planner">{% for post in site.categories.day2 reversed %}
            <li>
              <span class="time">{{ post.hour | upcase }}</span>
              <span class="talk">
                <span class="session {% if post.child %} child {% endif %}">{% if post.child %} <i class="icon-chevron-sign-right"></i> {% endif %}{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}{% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">
                  {{ post.content | markdownify }}
                </span>
                {% endif %}{% if post.eventbrite %}
                <span class="eventbrite-sub">
                  <a href="#eventbrite-modal-{{ post.eventbrite }}" class="registerbutton call-modal">Register</a>
                </span>{% endif %}
              </span>
            </li>{% endfor %}
          </ul>
          {% endif %}{% if site.categories.coaching %}
          <ul id="coaching" class="planner">
            {% for post in site.categories.coaching reversed %}
            <li>
              <span class="time">{{ post.hour | upcase }}</span>
              <span class="talk">
                <span class="session {% if post.child %} child {% endif %}">{% if post.child %} <i class="icon-chevron-sign-right"></i> {% endif %}{{ post.title }}{% if post.location %}<span class="location">{{ post.location }}</span>{% endif %}</span>
                {% if post.name %}<span class="leader">{{ post.name }}{% if post.company %}, {{ post.company }}{% endif %}</span>{% endif %}{% if post.expand %}
                <span class="toggle"></span>
                <span class="expanded" style="display: none;">
                  {{ post.content | markdownify }}
                </span>
                {% endif %}{% if post.eventbrite %}
                <span class="eventbrite-sub">
                  <a href="#eventbrite-modal-{{ post.eventbrite }}" class="registerbutton call-modal">Register</a>
                </span>{% endif %}
              </span>
            </li>{% endfor %}
          </ul>{% endif %}
        </div>
      </article>
    </section>