  <!-- jQuery -->
  <script type="text/javascript" src="{{ site.url }}{{ site.assets.js }}modernizr.custom.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.assets.js }}eventbrite.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.assets.js }}bvscripts.js"></script>