    <section id="speakers">
    {% assign sorted_speakers = site.categories.speakers|sort:"title" %}
    {% assign sorted_2014speakers = site.categories.2014speakers|sort:"title" %}
    {% assign sorted_star_awards = site.categories.star_award|sort:"title" %}
    {% assign sorted_committee = site.categories.committee|sort:"title" %}
    {% assign sorted_coach = site.categories.coach|sort:"title" %}
    {% assign sorted_student_coach = site.categories.student_coach|sort:"title" %}
    {% assign sorted_mosaic_honor = site.categories.mosaic_honor|sort:"title" %}
  
      <article>

        <div class="columns large-12">
          {% if site.categories.star_award %}
            <div id="star_awards">
            <br /><br /><br />
            
            <h2>Star Awards</h2>
              <a class="button" href="assets/pdfs/Star_Awards_Nomination.pdf" target="_blank"> 2014 Star Awards Nominations </a>
              <a class="button" href="assets/pdfs/2013_Star_Awards.pdf" target="_blank"> 2013 Star Award Winners </a> 
            <br />
            <h3> Star Awards Committee Members </h3>
              {% for post in sorted_star_awards %}
                <div class="speaker honor">
                  <div class="front">
                    <div class="imagecontainer"><img src="{{ site.assets.speaker }}{{ post.image }}" alt="{{ post.name }}, {{ post.position }}" /></div>
                    <h3>{{ post.name }}</h3>
                    <h4>{{ post.position }}</h4>
                  </div>
                  <div class="back">
                    <h3>{{ post.name }}</h3>
                    <h4>{{ post.position }}</h4>
                    <p>{{ post.teaser }}</p>
                    <div class="linkgroup">
                      <a href="{{ post.url }}" target="_self" title="Read More"><i class="icon-plus"></i></a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>

         <div class="columns large-12">
            <br /><br /><br />
            <h2>2015 Speakers</h2>
            {% for post in sorted_speakers %}
            <div class="speaker">
              <div class="front">
                <div class="imagecontainer"><img src="{{ site.assets.speaker }}{{ post.image }}"  alt="{{ post.name }}, {{ post.position }}"  /></div>
                <h3>{{ post.name }}</h3>
                <h4>{{ post.position }}</h4>
              </div>
              <div class="back">
                <h3>{{ post.name }}</h3>
                <h4>{{ post.position }}</h4>
                <p>{{ post.teaser }}</p>
                <div class="linkgroup">
                  <a href="{{ post.url }}" target="_self" title="Read More"><i class="icon-plus"></i></a>
               </div>
              </div>
            </div>
           {% endfor %}

          {% if site.categories.coach %}
          <br /><br /><br />
          <h2>Coaches</h2>
          <br />
            {% for post in sorted_coach %}
              <div class="speaker honor">
                <div class="front">
                  <div class="imagecontainer"><img src="{{ site.assets.speaker }}{{ post.image }}" alt="{{ post.name }}, {{ post.position }}" /></div>
                  <h3>{{ post.name }}</h3>
                  <h4>{{ post.position }}</h4>
                </div>
                <div class="back">
                  <h3>{{ post.name }}</h3>
                  <h4>{{ post.position }}</h4>
                  <p>{{ post.teaser }}</p>
                  <div class="linkgroup">
                    <a href="{{ post.url }}" target="_self" title="Read More"><i class="icon-plus"></i></a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>

      <p> More 2015 Speakers Comings soon</p>
      <button id="view-speakers" class="registerbutton"> View 2014 Speakers </button>
      </article>

      <article class="hide">
        <div class="columns large-12">
            <br /><br /><br />
            <h2>2014 Speakers</h2>
            {% for post in sorted_2014speakers %}
            <div class="speaker">
              <div class="front">
                <div class="imagecontainer"><img src="{{ site.assets.speaker }}{{ post.image }}"  alt="{{ post.name }}, {{ post.position }}"  /></div>
                <h3>{{ post.name }}</h3>
                <h4>{{ post.position }}</h4>
              </div>
              <div class="back">
                <h3>{{ post.name }}</h3>
                <h4>{{ post.position }}</h4>
                <p>{{ post.teaser }}</p>
                <div class="linkgroup">
                  <a href="{{ post.url }}" target="_self" title="Read More"><i class="icon-plus"></i></a>
               </div>
              </div>
            </div>
           {% endfor %}
        </div>
      </article>
    </section>