    <section id="venue">
      <article>
        <div class="columns large-12">
          <h2>The Venue</h2>
          <br /><br /><br />
          <div class="columns large-6">
            <img src="assets/images/disney.jpg" alt="National Harbor" />
          </div>
          <div class="columns large-6">
            <div class="address">
              <h3><a href="http://www.mydisneymeetings.com/2014dwblc/" target="_blank">Disney Yacht &amp; Beach Club Resort &amp; Convention Center, Lake Buena Vista, FL</a></h3>
              <p><strong>Transportation:</strong> For information on transportation to and from the event, please visit the <a href="http://www.disneyconventiontickets.com/disneyworld/transportation/" target="_blank">following link</a></p>
            </div>
          </div>
          <div id="map_canvas"></div>
        </div>
      </article>
    </section>
