    <section id="venue">
      <article>
        <div class="columns large-12">
          <h2>The Venue</h2>
          <br /><br /><br />
          <div class="columns large-6">
            <div class="copyright">
              <img src="assets/images/disney.jpg" alt="National Harbor"/>
            </div>
          </div>
          <div class="columns large-6">
            <div class="address">
              <h3>Disney's Yacht &amp; Beach Club Resorts &amp; Convention Center, Lake Buena Vista, FL</h3>
              <p>More information on registration, transportation and accommodation can be found at <strong> <a href="http://www.diversitywoman.com/conference-hotels" target="_blank" >http://www.diversitywoman.com/conference-hotels</a></strong>.</p>
              <p>On Wednesday October 14, meet in the hotel lobby of either the Disney Yacht &amp; Beach Club Resorts between 6:30pm and 6:45pm. A Disney Event Guide will escort attendees at 6:45pm to Epcot® for the evening festivities via a short walking distance along the Boardwalk. Should you arrive after this departure time, directions to Epcot® will be provided to you upon check in.</p>
            </div>
          </div>
          <div id="map_canvas"></div>
        </div>
      </article>
    </section>
