    <section id="venue">
      <article>
        <div class="columns large-12">
          <h2>The Venue</h2>
          <br /><br /><br />
          <div class="columns large-6">
            <img src="assets/images/disney.jpg" alt="National Harbor" />
          </div>
          <div class="columns large-6">
            <div class="address">
              <h3>Disney's Yacht &amp; Beach Club Resorts &amp; Convention Center, Lake Buena Vista, FL</h3>
              <p>More information on registration, transportation and accommodation can be found at <strong> <a href="http://www.diversitywoman.com/conference-hotels" target="_blank" >http://www.diversitywoman.com/conference-hotels</a></strong>.</p>
            </div>
          </div>
          <div id="map_canvas"></div>
        </div>
      </article>
    </section>
