/*
	Stylesheet for http://www.diversitywoman.com
	----------------------------------------------------------
	Designed & developed by Nicholas A. Kingston, Scott M. Schaffter
	
	Version 1.0
	
-------------------------------------------------------------------------------*/
.center {
  margin-left: auto;
  margin-right: auto;
}
/* Reset
================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
nav,
section,
footer {
  width: 100%;
}
/* Responsive images and other image fixes */
img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
/* Force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* Define highlighting colours */
::selection {
  background: #fac280;
}
::-moz-selection {
  background: #fac280;
}
/* Fix for psuedo elements */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Fix for links */
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
}
/* Nicer HR Tags */
hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #f2f2f2;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
#ie-error {
  display: none;
}
.ie #container,
.ie .ie-hide {
  display: none;
}
.ie #ie-error {
  display: block;
}
/* Typography
================================================== */
.font {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
}
/* Link Styles */
a {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  text-decoration: none;
}
/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 320%;
  line-height: 160%;
}
h2 {
  font-weight: 300;
  font-size: 200%;
  line-height: 160%;
}
h3 {
  font-weight: 300;
  font-size: 120%;
  line-height: 160%;
}
h4 {
  font-weight: 300;
  font-size: 100%;
  line-height: 160%;
  font-style: italic;
}
h5 {
  font-weight: 400;
  font-size: 90%;
  line-height: 160%;
}
/* Paragraph Styles */
p {
  padding-bottom: 25px;
  font-weight: 300;
  line-height: 180%;
}
/* Other Styles */
.heart {
  color: #f43059;
}
/* Sections
================================================== */
section {
  position: relative;
  z-index: 100 !important;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffffff;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
section h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #213f99;
}
#top {
  display: block;
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  content: " ";
}
/* Nav Menus
================================================== */
nav#main {
  background: #728ee1;
  position: fixed;
  top: 0;
  z-index: 101;
  border-bottom: 5px solid #213f99;
  text-align: center;
}
nav#main a:link,
nav#main a:visited {
  color: #ffffff;
}
nav#main ul#menu {
  list-style: none;
  text-align: center;
}
nav#main li {
  display: inline-block;
  padding: 1em;
}
nav#main li a:hover {
  color: #213f99;
}
nav#main #showmenu,
nav#main #top-logo,
nav#main #mobiletop {
  display: none;
}
nav#main #top-logo {
  width: 100px;
  padding-top: 10px;
}
/* Header
================================================== */
header#site_header {
  text-align: center;
  position: fixed;
  top: 0;
  padding-top: 100px;
  height: 100%;
  max-height: 500px;
  z-index: 0 !important;
  background: #f7931d;
  color: #ffffff;
  background: url(../images/symphony.png) repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
header#site_header h1,
header#site_header h3 {
  text-shadow: 1px 1px 5px #000;
}
header#site_header h3 {
  text-transform: uppercase;
}
header#site_header img {
  width: 420px;
}
/* Speakers
================================================== */
#speakers {
  margin-top: 500px;
  text-align: center;
  background: #f2f2f2;
  /* Specific Moasic Style */
}
#speakers .hide {
  display: none;
}
#speakers .color1 {
  display: block;
  padding-bottom: 1em;
  border-bottom: 1px solid #d9d9d9;
  color: #213f99;
}
#speakers h1 span {
  display: block;
}
#speakers h1 span.small {
  font-size: 60%;
  color: #333333;
  line-height: 140%;
}
#speakers h1 span.smallest {
  font-size: 40%;
  color: #89949b;
  line-height: 140%;
}
#speakers .speaker.honor {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center !important;
}
#speakers .speaker {
  position: relative;
  display: inline-block;
  width: 180px;
  background: #213f99;
  color: #ffffff;
  height: 360px;
  margin: 10px;
}
#speakers .speaker .front,
#speakers .speaker .back {
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
#speakers .speaker:hover .front {
  opacity: 0;
}
#speakers .speaker:hover .back {
  opacity: 1;
}
#speakers .speaker .back {
  opacity: 0;
}
#speakers .speaker .back p {
  padding: 20px 20px 0 20px;
  text-align: left;
  font-size: 10.5px;
  overflow: hidden;
  height: 208px !important;
  margin-bottom: 0;
}
#speakers .speaker .back .linkgroup {
  position: absolute;
  top: 320px;
  width: 100%;
  text-align: center;
  display: block;
}
#speakers .speaker .back .linkgroup a {
  color: #ffffff;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}
#speakers .speaker .back .linkgroup a i {
  border: 1px solid #ffffff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  padding: 10px;
  font-size: 80%;
}
#speakers .speaker .back .linkgroup a:hover {
  color: #0f1c45;
}
#speakers .speaker .back .linkgroup a:hover i {
  border: 1px solid #0f1c45;
}
#speakers .speaker .imagecontainer {
  width: 180px;
  height: 210px;
  margin-bottom: 15px;
  overflow: hidden;
}
#speakers .speaker .imagecontainer img {
  width: 180px;
  height: auto;
  min-height: 210px;
}
#speakers .speaker h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 90%;
}
#speakers .speaker h4 {
  font-weight: 400;
  font-style: normal;
  font-size: 70%;
  padding: 0 5px;
}
#speakers .speaker h4.honor {
  width: 100%;
  position: absolute;
  top: -50px;
  color: #213f99;
  font-size: 80%;
  text-transform: uppercase;
}
#speakers .speaker.mosaic {
  height: 390px;
}
#speakers .speaker.mosaic .front,
#speakers .speaker.mosaic .back {
  padding-top: 80px;
}
#speakers h3.mosaic {
  color: #333333;
  position: relative;
  display: inline-block;
  width: 180px;
  height: 50px;
  background: #f2f2f2;
  font-size: 95%;
  font-weight: 500;
}
/* Speaker Page
================================================== */
#profile .imagecontainer {
  margin-top: 50px;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  display: inline-block;
}
#profile .imagecontainer img {
  width: 220px;
  height: auto;
}
#profile ul#connect {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
#profile li {
  display: inline-block;
}
#profile li a {
  color: #89949b;
  margin: 0 5px;
}
#profile li a i {
  border: 1px solid #89949b;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  padding: 10px;
  font-size: 80%;
}
#profile li a:hover {
  color: #213f99;
}
#profile li a:hover i {
  border: 1px solid #213f99;
}
#profile p {
  max-width: 600px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
#profile h3.mosaic {
  font-size: 105%;
  font-weight: 500;
}
/* Schedule
================================================== */
#schedule nav.pills {
  padding-bottom: 2em;
}
#schedule nav.pills a {
  color: #89949b;
  background: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
#schedule nav.pills a .active {
  background: #213f99;
  color: #ffffff;
}
#schedule nav.pills a:hover {
  background: #89949b;
  color: #ffffff;
}
#schedule a#trig-day0.active,
#schedule a#trig-day1.active,
#schedule a#trig-day2.active,
#schedule a.trig-coaching.active {
  background: #213f99;
  color: #ffffff;
  cursor: default;
}
#schedule ul.planner {
  max-width: 900px;
  list-style: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
#schedule ul.planner li {
  padding: 20px 10px 20px 10px;
  display: block;
  border-bottom: 1px dotted #213f99;
  position: relative;
}
#schedule ul.planner li:hover {
  background: #f2f2f2;
}
#schedule ul.planner li .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#schedule ul.planner li .time,
#schedule ul.planner li .talk {
  display: block;
}
#schedule ul.planner li .talk {
  padding-left: 180px;
  position: relative;
}
#schedule ul.planner li .talk span {
  display: block;
}
#schedule ul.planner li .talk span.leader {
  font-weight: 300;
  color: #333333;
  font-size: 90%;
  padding-top: 5px;
}
#schedule ul.planner li .talk span.session {
  color: #213f99;
}
#schedule ul.planner li .talk span.child {
  color: #666666;
}
#schedule ul.planner li .talk span .location {
  font-size: 80%;
  display: inline;
  font-weight: 400;
  padding-left: 10px;
  color: #89949b;
  font-weight: 300;
}
#schedule ul.planner li .talk span.expanded {
  display: block;
  font-size: 80%;
  padding-top: 20px;
  color: #89949b;
}
#schedule ul.planner li .talk span.expanded ul li {
  padding: 10px 0px 10px 0px;
  display: block;
  position: relative;
  border: none;
  list-style: disc outside none;
}
#schedule ul.planner li .talk span.eventbrite-sub {
  position: absolute;
  top: 0;
  left: 0;
}
#schedule ul.planner li .time {
  float: left;
  width: 180px;
  font-weight: 300;
}
/* Venue
================================================== */
#venue {
  background: #f2f2f2;
}
#venue img {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 0px;
}
#venue .address {
  text-align: left;
  margin-bottom: 40px;
  display: block;
}
#venue .address h3 {
  color: #333333;
  font-weight: bold;
}
#venue .address h4 {
  color: #213f99;
}
#venue .address p {
  padding-top: 1em;
  padding-bottom: 0;
  font-size: 90%;
}
#venue a,
#venue strong {
  color: #333333;
}
#venue #map_canvas {
  width: 100%;
  height: 400px;
}
/* Sponsors
================================================== */
section#sponsors a.sponsorlogo img {
  width: 100%;
  max-width: 240px;
  height: auto;
  max-height: 240px;
  padding: 20px;
  vertical-align: middle;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
  *zoom: 1;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
section#sponsors a.sponsorlogo img:hover {
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  *zoom: 1;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
section#sponsors #partners.sponsors {
  border-bottom: none !important;
}
section#sponsors .sponsors {
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 0;
}
section#sponsors .sponsors h3 {
  text-transform: uppercase;
  font-weight: 400;
  color: #89949b;
}
/* Registration Button
================================================== */
.registerbutton {
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff4000), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(center top, #ff4000 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4000', endColorstr='#c62d1f');
  background-color: #ff4000;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  text-indent: 0px;
  border: 1px solid #d02718;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #810e05;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
.registerbutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #ff4000));
  background: -moz-linear-gradient(center top, #c62d1f 5%, #ff4000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#ff4000');
  background-color: #c62d1f;
}
.registerbutton:active {
  position: relative;
  top: 1px;
}
section#regbutton .counter {
  padding-top: 10px;
  padding-bottom: 40px;
}
section#regbutton .counter .number {
  font-size: 550%;
  display: block;
  color: #89949b;
  text-shadow: -1px 1px 0px #576167;
}
section#regbutton .counter .text {
  color: #213f99;
}
/* Eventbrite 
================================================== */
.eventbrite-sub .registerbutton {
  height: 25px;
  line-height: 140%;
  margin-top: 10px;
}
.eventbrite-sub {
  position: relative;
  z-index: 1;
}
/* Star Awards
================================================== */
#star_awards {
  padding-bottom: 2em;
}
#star_awards a.button {
  color: #ffffff;
  background: #89949b;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}
#star_awards a.button:hover {
  background: #213f99;
  color: #ffffff;
}
#star_awards h3 {
  margin-top: 2em;
}
#star_awards h2 {
  margin-bottom: .5em;
}
/* Footer 
================================================== */
/* Set footerHeight to TOTAL height of all divs to be sticky */
footer#bottom {
  background: #333333;
  color: #ffffff;
  text-align: center;
  font-weight: 200;
  font-size: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer#bottom span {
  width: 100%;
  padding-right: 20px;
  color: #89949b;
}
footer#bottom span a {
  color: #89949b;
}
footer#bottom span a:hover {
  color: #ffffff;
}
footer#bottom span a:hover span.heart {
  color: #f43059;
}
#push {
  height: 42px;
}
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -42px;
}
/* Grid Styles
================================================== */
article {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1200px;
  *zoom: 1;
}
article:before,
article:after {
  content: " ";
  display: table;
}
article:after {
  clear: both;
}
article article {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
article article:before,
article article:after {
  content: " ";
  display: table;
}
article article:after {
  clear: both;
}
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}
.columns .columns {
  padding-left: 0;
  padding-right: 0;
}
@media only screen {
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .small-1,
  .small-2,
  .small-3,
  .small-4,
  .small-5,
  .small-6,
  .small-7,
  .small-8,
  .small-9,
  .small-10,
  .small-11,
  .small-12,
  .small-offset-1,
  .small-offset-2,
  .small-offset-3,
  .small-offset-4,
  .small-offset-5,
  .small-offset-6,
  .small-offset-7,
  .small-offset-8,
  .small-offset-9,
  .small-offset-10,
  .small-offset-11,
  .small-offset-12 {
    position: relative;
  }
  .small-1 {
    width: 8.33333%;
  }
  .small-2 {
    width: 16.66667%;
  }
  .small-3 {
    width: 25%;
  }
  .small-4 {
    width: 33.33333%;
  }
  .small-5 {
    width: 41.66667%;
  }
  .small-6 {
    width: 50%;
  }
  .small-7 {
    width: 58.33333%;
  }
  .small-8 {
    width: 66.66667%;
  }
  .small-9 {
    width: 75%;
  }
  .small-10 {
    width: 83.33333%;
  }
  .small-11 {
    width: 91.66667%;
  }
  .small-12 {
    width: 100%;
  }
  .small-offset-1 {
    margin-left: 8.33333%;
  }
  .small-offset-2 {
    margin-left: 16.66667%;
  }
  .small-offset-3 {
    margin-left: 25%;
  }
  .small-offset-4 {
    margin-left: 33.33333%;
  }
  .small-offset-5 {
    margin-left: 41.66667%;
  }
  .small-offset-6 {
    margin-left: 50%;
  }
  .small-offset-7 {
    margin-left: 58.33333%;
  }
  .small-offset-8 {
    margin-left: 66.66667%;
  }
  .small-offset-9 {
    margin-left: 75%;
  }
  .small-offset-10 {
    margin-left: 83.33333%;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .large-1,
  .large-2,
  .large-3,
  .large-4,
  .large-5,
  .large-6,
  .large-7,
  .large-8,
  .large-9,
  .large-10,
  .large-11,
  .large-12,
  .large-offset-1,
  .large-offset-2,
  .large-offset-3,
  .large-offset-4,
  .large-offset-5,
  .large-offset-6,
  .large-offset-7,
  .large-offset-8,
  .large-offset-9,
  .large-offset-10,
  .large-offset-11,
  .large-offset-12 {
    position: relative;
  }
  .large-1 {
    width: 8.33333%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-3 {
    width: 25%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-9 {
    width: 75%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-12 {
    width: 100%;
  }
  .large-offset-1 {
    margin-left: 8.33333%;
  }
  .large-offset-2 {
    margin-left: 16.66667%;
  }
  .large-offset-3 {
    margin-left: 25%;
  }
  .large-offset-4 {
    margin-left: 33.33333%;
  }
  .large-offset-5 {
    margin-left: 41.66667%;
  }
  .large-offset-6 {
    margin-left: 50%;
  }
  .large-offset-7 {
    margin-left: 58.33333%;
  }
  .large-offset-8 {
    margin-left: 66.66667%;
  }
  .large-offset-9 {
    margin-left: 75%;
  }
  .large-offset-10 {
    margin-left: 83.33333%;
  }
}
/* Form Styles
================================================== */
/* Icons
================================================== */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-earth,
.icon-plus,
.icon-linkedin,
.icon-twitter,
.icon-facebook,
.icon-user,
.icon-chevron-sign-right {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-earth:before {
  content: "\e003";
}
.icon-plus:before {
  content: "\e005";
}
.icon-linkedin:before {
  content: "\e004";
}
.icon-twitter:before {
  content: "\e002";
}
.icon-facebook:before {
  content: "\e001";
}
.icon-user:before {
  content: "\e000";
}
.icon-chevron-sign-right:before {
  content: "\f138";
}
/* Responsive
================================================== */
.mobile {
  display: none;
}
.desktop {
  display: block;
}
@media screen and (max-width: 45em) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none !important;
  }
  header#site_header {
    position: relative;
    padding-bottom: 40px;
  }
  #speakers {
    margin-top: 0px;
  }
  /* Menus
================================================== */
  ul#menu {
    display: none;
  }
  #showmenu,
  #top-logo,
  #mobiletop {
    display: inline-block !important;
  }
  nav#main {
    text-align: left;
  }
  #showmenu {
    padding: 1em;
    color: #ffffff;
    cursor: pointer;
    text-align: left;
  }
  ul#menu li {
    display: block;
    text-align: left;
    border-top: 1px solid #4d4d4d;
  }
  ul#menu li:hover {
    background: #4d4d4d;
  }
  ul#menu li:hover a {
    color: #213f99;
  }
  #top-logo {
    float: right;
  }
  /* Schedules
================================================== */
  #schedule ul.planner li .talk {
    padding-left: 0px;
  }
  #schedule ul.planner li .talk span.eventbrite-sub {
    display: block;
    position: relative;
  }
  #schedule ul.planner li .time {
    float: none;
    width: 100%;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 25em) {
  h1 {
    font-size: 200%;
  }
}
/* JS is disabled
================================================== */
.no-js div#main {
  z-index: 101;
  position: fixed;
  background: #ffffff;
  top: 0;
}
.no-js div#main ul {
  display: block;
  list-style: none;
}
.no-js div#main li {
  padding-top: 15px;
  display: block;
  font-weight: 300;
}
.copyright {
  position: relative;
  display: block;
  z-index: 0 !important;
  width: 100%;
}
.copyright:after{
  content: "© Disney";
  position: absolute;
  display: block;
  color: white;
  bottom: 42px;
  right: 20px;
  z-index: 1000;
  background: rgba(0,0,0, 0.5);
  padding: 4px 10px;
}